.ql-container,
.ql-toolbar {
  font-family: inherit;
  font-size: inherit;
}

.pl-rich-text-editor-container:focus-within {
  outline: 0.2rem solid rgb(0 123 255 / 25%);
  box-shadow: unset;
}

.pl-rich-text-editor-container {
  box-shadow: 3px 3px 3px grey;
}

.pl-rich-text-editor-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.pl-chem-feedback {
  border-left: 0.25rem solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}

.pl-chem-submission-feedback {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
